# Code owners for graphic_2d
[graphic_2d base]
.gitee/CODEOWNERS @lijj01
bundle.json @lijj01

[cross-platform]
rosen/modules/glfw_render_context/ @aslklw

[drawing]
rosen/modules/2d_graphics/BUILD.gn @hw_yang
rosen/modules/2d_graphics/include/ @hw_yang
rosen/modules/2d_graphics/src/drawing/ @hw_yang
rosen/modules/2d_graphics/drawing_ndk/ @hw_yang
interfaces/kits/napi/graphic/drawing/ @hw_yang